PORT=5000
MONGO_URI=mongodb://localhost:27017/lawyerAI
OPENAI_API_KEY=your_openai_api_key

# Lawyer Info
LAWYER_EMAIL=lawyer@example.com
LAWYER_NAME=Your Name

# Gmail IMAP - client emails reading
GMAIL_USER=your_gmail_address@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password

# Gmail SMTP - send email to clients
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_smtp_user@gmail.com
SMTP_PASS=your_smtp_app_password
